In [1]:
import pandas as pd

# I. 애니메이션을 제외한 데이터 전처리

In [2]:
data = pd.read_excel("boxoffice.xlsx")
data

,순번,영화명,개봉일,배우 언급수,감독 평점,원작유무,상영시간,상영등급,시리즈,평론가 평점,장르,인스타,블로그,X(트위터),총 언급수,조회수,관객수
0,1,셜록: 유령신부,2016-01-02,26.000000,6.5,1,115,12세이상관람가,1,6.50,범죄,4.000000,26.000000,33.00000,63.000000,479334.0,1278894
1,2,나를 잊지 말아요,2016-01-07,81.000000,3.8,0,106,15세이상관람가,0,3.75,멜로/로맨스,9.000000,7.000000,32.00000,48.000000,1021854.0,425799
2,3,레버넌트: 죽음에서 돌아온 자,2016-01-14,78.000000,6.8,0,156,15세이상관람가,0,6.88,어드벤처,7.000000,13.000000,154.00000,174.000000,798074.0,2007180
3,4,그날의 분위기,2016-01-14,206.000000,5.6,0,103,15세이상관람가,0,5.00,멜로/로맨스,8.000000,8.000000,46.00000,62.000000,296139.0,652453
4,5,구스범스,2016-01-14,NaN,5.1,1,103,12세이상관람가,1,6.00,액션,3.000000,6.000000,12.00000,21.000000,354947.0,297356
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
743,744,싱글 인 서울,2023-11-29,119.758065,6.0,0,109,12세이상관람가,0,6.50,멜로/로맨스,11.629030,3.145161,407.80650,422.580691,106261.0,400651
744,745,말하고 싶은 비밀,2023-12-13,0.387097,5.0,1,110,전체관람가,0,5.00,멜로/로맨스,NaN,NaN,NaN,0.000000,45750.0,33096
745,746,크레센도,2023-12-20,29.806452,6.5,0,111,전체관람가,0,6.50,다큐멘터리,1.370968,1.354839,9.06129,11.787097,37300.0,30490
746,747,노량: 죽음의 바다,2023-12-20,35.822581,5.7,0,152,12세이상관람가,1,6.60,사극,20.064520,26.838710,548.88710,595.790330,379439.0,1134960
747,748,아쿠아맨과 로스트 킹덤,2023-12-20,9.370968,5.5,1,124,12세이상관람가,1,5.00,액션,3.919355,2.274194,4.50000,10.693549,183861.0,155026

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 748 entries, 0 to 747
Data columns (total 17 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   순번      748 non-null    int64
 1   영화명     748 non-null    object
 2   개봉일     748 non-null    datetime64[ns]
 3   배우 언급수  743 non-null    float64
 4   감독 평점   742 non-null    float64
 5   원작유무    748 non-null    int64
 6   상영시간    748 non-null    int64
 7   상영등급    748 non-null    object
 8   시리즈     748 non-null    int64
 9   평론가 평점  738 non-null    float64
 10  장르      748 non-null    object
 11  인스타     734 non-null    float64
 12  블로그     734 non-null    float64
 13  X(트위터)  734 non-null    float64
 14  총 언급수   739 non-null    float64
 15  조회수     747 non-null    float64
 16  관객수     748 non-null    int64
dtypes: datetime64[ns](1), float64(8), int64(5), object(3)
memory usage: 99.5+ KB

In [4]:
# 데이터 결측치 수 확인
data_missing_values = data.isnull().sum()

print(f'data_missing values: \n{data_missing_values}')

data_missing values:
순번         0
영화명        0
개봉일        0
배우 언급수     5
감독 평점      6
원작유무       0
상영시간       0
상영등급       0
시리즈        0
평론가 평점    10
장르         0
인스타       14
블로그       14
X(트위터)    14
총 언급수      9
조회수        1
관객수        0
dtype: int64

In [5]:
data.drop(columns=['순번', '인스타', '블로그', 'X(트위터)'], inplace=True)

In [6]:
columns_to_fill = ['배우 언급수', '감독 평점', '평론가 평점', '총 언급수', '조회수']
data[columns_to_fill] = data[columns_to_fill].fillna(0)

In [7]:
columns_to_convert = ['배우 언급수','총 언급수','조회수']
data[columns_to_convert] = data[columns_to_convert].astype(int)

In [8]:
data

,영화명,개봉일,배우 언급수,감독 평점,원작유무,상영시간,상영등급,시리즈,평론가 평점,장르,총 언급수,조회수,관객수
0,셜록: 유령신부,2016-01-02,26,6.5,1,115,12세이상관람가,1,6.50,범죄,63,479334,1278894
1,나를 잊지 말아요,2016-01-07,81,3.8,0,106,15세이상관람가,0,3.75,멜로/로맨스,48,1021854,425799
2,레버넌트: 죽음에서 돌아온 자,2016-01-14,78,6.8,0,156,15세이상관람가,0,6.88,어드벤처,174,798074,2007180
3,그날의 분위기,2016-01-14,206,5.6,0,103,15세이상관람가,0,5.00,멜로/로맨스,62,296139,652453
4,구스범스,2016-01-14,0,5.1,1,103,12세이상관람가,1,6.00,액션,21,354947,297356
...,...,...,...,...,...,...,...,...,...,...,...,...,...
743,싱글 인 서울,2023-11-29,119,6.0,0,109,12세이상관람가,0,6.50,멜로/로맨스,422,106261,400651
744,말하고 싶은 비밀,2023-12-13,0,5.0,1,110,전체관람가,0,5.00,멜로/로맨스,0,45750,33096
745,크레센도,2023-12-20,29,6.5,0,111,전체관람가,0,6.50,다큐멘터리,11,37300,30490
746,노량: 죽음의 바다,2023-12-20,35,5.7,0,152,12세이상관람가,1,6.60,사극,595,379439,1134960
747,아쿠아맨과 로스트 킹덤,2023-12-20,9,5.5,1,124,12세이상관람가,1,5.00,액션,10,183861,155026

In [9]:
output_file_path = "boxoffice_data.xlsx"
data.to_excel(output_file_path, index=False)

## I-A. 범주형 변수 정수 인코딩

In [10]:
data['상영등급_encoded'], rating_categories = pd.factorize(data['상영등급'])
data['장르_encoded'], genre_categories = pd.factorize(data['장르'])

rating_mapping_df = pd.DataFrame({
    '상영등급': rating_categories,
    '상영등급_encoded': range(len(rating_categories))
})

genre_mapping_df = pd.DataFrame({
    '장르': genre_categories,
    '장르_encoded': range(len(genre_categories))
})

data.drop(columns=['상영등급', '장르'], inplace=True)

data.rename(columns={'상영등급_encoded': '상영등급', '장르_encoded': '장르'}, inplace=True)

In [11]:
data

,영화명,개봉일,배우 언급수,감독 평점,원작유무,상영시간,시리즈,평론가 평점,총 언급수,조회수,관객수,상영등급,장르
0,셜록: 유령신부,2016-01-02,26,6.5,1,115,1,6.50,63,479334,1278894,0,0
1,나를 잊지 말아요,2016-01-07,81,3.8,0,106,0,3.75,48,1021854,425799,1,1
2,레버넌트: 죽음에서 돌아온 자,2016-01-14,78,6.8,0,156,0,6.88,174,798074,2007180,1,2
3,그날의 분위기,2016-01-14,206,5.6,0,103,0,5.00,62,296139,652453,1,1
4,구스범스,2016-01-14,0,5.1,1,103,1,6.00,21,354947,297356,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
743,싱글 인 서울,2023-11-29,119,6.0,0,109,0,6.50,422,106261,400651,0,1
744,말하고 싶은 비밀,2023-12-13,0,5.0,1,110,0,5.00,0,45750,33096,3,1
745,크레센도,2023-12-20,29,6.5,0,111,0,6.50,11,37300,30490,3,15
746,노량: 죽음의 바다,2023-12-20,35,5.7,0,152,1,6.60,595,379439,1134960,0,8
747,아쿠아맨과 로스트 킹덤,2023-12-20,9,5.5,1,124,1,5.00,10,183861,155026,0,3

In [12]:
rating_mapping_df = pd.DataFrame({
    '상영등급': rating_categories,
    '상영등급_encoded': range(len(rating_categories))
})

genre_mapping_df = pd.DataFrame({
    '장르': genre_categories,
    '장르_encoded': range(len(genre_categories))
})

print("상영등급 매핑:")
print(rating_mapping_df)

print("\n장르 매핑:")
print(genre_mapping_df)

상영등급 매핑:
       상영등급  상영등급_encoded
0  12세이상관람가             0
1  15세이상관람가             1
2   청소년관람불가             2
3     전체관람가             3

장르 매핑:
        장르  장르_encoded
0       범죄           0
1   멜로/로맨스           1
2     어드벤처           2
3       액션           3
4      드라마           4
5      스릴러           5
6      코미디           6
7     미스터리           7
8       사극           8
9       가족           9
10  공포(호러)          10
11      전쟁          11
12     판타지          12
13      SF          13
14     뮤지컬          14
15   다큐멘터리          15
16      기타          16

In [13]:
output_file_path = "data_encoded.xlsx"
data.to_excel(output_file_path, index=False)

# II. 애니메이션 데이터 전처리

In [14]:
animation = pd.read_excel("boxoffice_ani.xlsx")
animation

,순번,영화명,개봉일,감독 평점,원작유무,상영시간,상영등급,시리즈,평론가 평점,장르,인스타,블로그,X(트위터),총 언급수,조회수,관객수
0,1,굿 다이노,2016-01-07,6.7,0,101,전체관람가,0,6.00,애니메이션,5.000000,7.000000,42.000000,54.000000,444148.0,1328394
1,2,쿵푸팬더3,2016-01-28,5.7,0,95,전체관람가,1,5.50,애니메이션,11.000000,14.000000,320.000000,345.000000,942185.0,3984812
2,3,앨빈과 슈퍼밴드: 악동 어드벤처,2016-02-04,4.8,1,92,전체관람가,1,3.00,애니메이션,2.000000,4.000000,5.000000,11.000000,557308.0,289645
3,4,주토피아,2016-02-17,6.8,0,108,전체관람가,1,7.25,애니메이션,7.000000,8.000000,160.000000,175.000000,873261.0,4703245
4,5,극장판 프랭키와 친구들: 생명의 나무,2016-04-13,NaN,1,72,전체관람가,1,NaN,애니메이션,0.000000,1.000000,0.000000,1.000000,28354.0,56835
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183,184,신차원! 짱구는 못말려 더 무비 초능력 대결전 ~날아라 수제김밥~,2023-12-22,6.3,1,94,전체관람가,1,6.00,애니메이션,2.693548,0.096774,0.258065,3.048387,67105.0,377188
184,185,트롤: 밴드 투게더,2023-12-20,6.1,0,92,전체관람가,1,5.50,애니메이션,3.032258,6.741935,37.258060,47.032253,101423.0,70650
185,186,뽀로로 극장판 슈퍼스타 대모험,2023-12-13,6.0,1,77,전체관람가,1,6.00,애니메이션,0.048387,0.129032,0.229508,0.406927,84781.0,66301
186,187,"바다 탐험대 옥토넛 어보브 앤 비욘드: 버드, 옥토경보를 울려라!",2023-12-27,6.0,0,68,전체관람가,1,NaN,애니메이션,1.419355,1.161290,1.693548,4.274193,21335.0,28875
187,188,도티와 영원의 탑,2023-12-27,5.5,0,86,전체관람가,0,5.50,애니메이션,0.000000,0.000000,0.000000,0.000000,28248.0,26174

In [15]:
animation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188 entries, 0 to 187
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   순번      188 non-null    int64
 1   영화명     188 non-null    object
 2   개봉일     188 non-null    datetime64[ns]
 3   감독 평점   168 non-null    float64
 4   원작유무    188 non-null    int64
 5   상영시간    188 non-null    int64
 6   상영등급    188 non-null    object
 7   시리즈     188 non-null    int64
 8   평론가 평점  144 non-null    float64
 9   장르      188 non-null    object
 10  인스타     188 non-null    float64
 11  블로그     188 non-null    float64
 12  X(트위터)  188 non-null    float64
 13  총 언급수   188 non-null    float64
 14  조회수     187 non-null    float64
 15  관객수     188 non-null    int64
dtypes: datetime64[ns](1), float64(7), int64(5), object(3)
memory usage: 23.6+ KB

In [16]:
animation_missing_values = animation.isnull().sum()

print(f'animation_missing values: \n{animation_missing_values}')

animation_missing values:
순번         0
영화명        0
개봉일        0
감독 평점     20
원작유무       0
상영시간       0
상영등급       0
시리즈        0
평론가 평점    44
장르         0
인스타        0
블로그        0
X(트위터)     0
총 언급수      0
조회수        1
관객수        0
dtype: int64

In [17]:
animation.drop(columns=['순번', '장르'], inplace=True)

In [18]:
columns_to_fill = ['감독 평점', '평론가 평점', '총 언급수', '조회수']
animation[columns_to_fill] = animation[columns_to_fill].fillna(0)

In [19]:
columns_to_convert = ['총 언급수','조회수']
animation[columns_to_convert] = animation[columns_to_convert].astype(int)

In [20]:
animation

,영화명,개봉일,감독 평점,원작유무,상영시간,상영등급,시리즈,평론가 평점,인스타,블로그,X(트위터),총 언급수,조회수,관객수
0,굿 다이노,2016-01-07,6.7,0,101,전체관람가,0,6.00,5.000000,7.000000,42.000000,54,444148,1328394
1,쿵푸팬더3,2016-01-28,5.7,0,95,전체관람가,1,5.50,11.000000,14.000000,320.000000,345,942185,3984812
2,앨빈과 슈퍼밴드: 악동 어드벤처,2016-02-04,4.8,1,92,전체관람가,1,3.00,2.000000,4.000000,5.000000,11,557308,289645
3,주토피아,2016-02-17,6.8,0,108,전체관람가,1,7.25,7.000000,8.000000,160.000000,175,873261,4703245
4,극장판 프랭키와 친구들: 생명의 나무,2016-04-13,0.0,1,72,전체관람가,1,0.00,0.000000,1.000000,0.000000,1,28354,56835
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183,신차원! 짱구는 못말려 더 무비 초능력 대결전 ~날아라 수제김밥~,2023-12-22,6.3,1,94,전체관람가,1,6.00,2.693548,0.096774,0.258065,3,67105,377188
184,트롤: 밴드 투게더,2023-12-20,6.1,0,92,전체관람가,1,5.50,3.032258,6.741935,37.258060,47,101423,70650
185,뽀로로 극장판 슈퍼스타 대모험,2023-12-13,6.0,1,77,전체관람가,1,6.00,0.048387,0.129032,0.229508,0,84781,66301
186,"바다 탐험대 옥토넛 어보브 앤 비욘드: 버드, 옥토경보를 울려라!",2023-12-27,6.0,0,68,전체관람가,1,0.00,1.419355,1.161290,1.693548,4,21335,28875
187,도티와 영원의 탑,2023-12-27,5.5,0,86,전체관람가,0,5.50,0.000000,0.000000,0.000000,0,28248,26174

In [21]:
output_file_path = "boxoffice_animation.xlsx"
animation.to_excel(output_file_path, index=False)

## II-A. 정수 인코딩

In [22]:
rating_mapping_df1 = pd.DataFrame({
    '상영등급': rating_categories,
    '상영등급_encoded': range(len(rating_categories))
})

print("상영등급 매핑:")
print(rating_mapping_df1)

상영등급 매핑:
       상영등급  상영등급_encoded
0  12세이상관람가             0
1  15세이상관람가             1
2   청소년관람불가             2
3     전체관람가             3

In [23]:
animation['상영등급_encoded'], rating_categories = pd.factorize(animation['상영등급'])

animation.drop(columns=['상영등급'], inplace=True)

animation.rename(columns={'상영등급_encoded': '상영등급'}, inplace=True)

rating_mapping_df1 = pd.DataFrame({
    '상영등급': rating_categories,
    '상영등급_encoded': range(len(rating_categories))
})

print("상영등급 매핑:")
print(rating_mapping_df1)

상영등급 매핑:
       상영등급  상영등급_encoded
0     전체관람가             0
1  12세이상관람가             1
2  15세이상관람가             2

In [24]:
animation

,영화명,개봉일,감독 평점,원작유무,상영시간,시리즈,평론가 평점,인스타,블로그,X(트위터),총 언급수,조회수,관객수,상영등급
0,굿 다이노,2016-01-07,6.7,0,101,0,6.00,5.000000,7.000000,42.000000,54,444148,1328394,0
1,쿵푸팬더3,2016-01-28,5.7,0,95,1,5.50,11.000000,14.000000,320.000000,345,942185,3984812,0
2,앨빈과 슈퍼밴드: 악동 어드벤처,2016-02-04,4.8,1,92,1,3.00,2.000000,4.000000,5.000000,11,557308,289645,0
3,주토피아,2016-02-17,6.8,0,108,1,7.25,7.000000,8.000000,160.000000,175,873261,4703245,0
4,극장판 프랭키와 친구들: 생명의 나무,2016-04-13,0.0,1,72,1,0.00,0.000000,1.000000,0.000000,1,28354,56835,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183,신차원! 짱구는 못말려 더 무비 초능력 대결전 ~날아라 수제김밥~,2023-12-22,6.3,1,94,1,6.00,2.693548,0.096774,0.258065,3,67105,377188,0
184,트롤: 밴드 투게더,2023-12-20,6.1,0,92,1,5.50,3.032258,6.741935,37.258060,47,101423,70650,0
185,뽀로로 극장판 슈퍼스타 대모험,2023-12-13,6.0,1,77,1,6.00,0.048387,0.129032,0.229508,0,84781,66301,0
186,"바다 탐험대 옥토넛 어보브 앤 비욘드: 버드, 옥토경보를 울려라!",2023-12-27,6.0,0,68,1,0.00,1.419355,1.161290,1.693548,4,21335,28875,0
187,도티와 영원의 탑,2023-12-27,5.5,0,86,0,5.50,0.000000,0.000000,0.000000,0,28248,26174,0

In [25]:
output_file_path = "animation_encoded.xlsx"
animation.to_excel(output_file_path, index=False)

# III. 코로나 기간을 제외한 데이터 생성

- 코로나 기간 : 2020.01 ~ 2021.12

In [26]:
data = pd.read_excel("data_encoded.xlsx")

data['개봉일'] = pd.to_datetime(data['개봉일'])

filtered_data = data[(data['개봉일'].dt.year < 2020) | (data['개봉일'].dt.year > 2021)]

filtered_data.head()

,영화명,개봉일,배우 언급수,감독 평점,원작유무,상영시간,시리즈,평론가 평점,총 언급수,조회수,관객수,상영등급,장르
0,셜록: 유령신부,2016-01-02,26,6.5,1,115,1,6.50,63,479334,1278894,0,0
1,나를 잊지 말아요,2016-01-07,81,3.8,0,106,0,3.75,48,1021854,425799,1,1
2,레버넌트: 죽음에서 돌아온 자,2016-01-14,78,6.8,0,156,0,6.88,174,798074,2007180,1,2
3,그날의 분위기,2016-01-14,206,5.6,0,103,0,5.00,62,296139,652453,1,1
4,구스범스,2016-01-14,0,5.1,1,103,1,6.00,21,354947,297356,0,3

In [27]:
output_file_path = "data_encoded_nocorona.xlsx"
animation.to_excel(output_file_path, index=False)